p {
  color: forestgreen;
  text-align: center;
}

h1{
  Color: Blue;
  text-align: center;
}

h2{
  color: brown; 
    text-align: center
}

img {
  width: 500px;
  height: 300px;
}

header{
  text-align: center
}